body{
    align-items: center;
}

.bndry {
    border-width: 5px;
    border-style:solid;
    border-color:rgb(94, 13, 13);
    border-radius: 15px;
    background-color: cadetblue;
    padding: 2px;
    width: fit-content;
    margin: 5px;
    text-align: center;
}

#op{
    padding-top: 3px;
    margin: 5px;
}

#display {
    width: 130px;
}

#numbers {
    border: 2;
    border-radius: 5px;
    border-color: aqua;
    background-color: rgb(192, 150, 88);
    width: 30px;
    text-align: center;
    cursor: pointer;
}